In [1]:
#Kütüphaneler
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("car_acceptability.txt", sep= ",", header= None)
df.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       ?    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med      ?  unacc
...     ...    ...    ...     ...      ...    ...    ...
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood
1728      ?      ?      ?       ?        ?      ?      ?

[1729 rows x 7 columns]

In [4]:
df = df.drop(1728, axis= 0)
df.tail()

     buying maint  doors persons lug_boot safety  class
1723    low   low  5more    more      med    med   good
1724    low   low  5more    more      med   high  vgood
1725    low   low  5more    more      big    low  unacc
1726    low   low  5more    more      big    med   good
1727    low   low  5more    more      big   high  vgood

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1727 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

Kolonların value counts'a bakıp benzersiz değerleri gercek değerlerle değiştiriyoruz

In [7]:
df["buying"].value_counts()

high     432
med      431
vhigh    430
low      430
?          2
-          1
düsük      1
Name: buying, dtype: int64

In [9]:
# Nan, ?, -, dusuk gercek değerler ile değiştirildi.
df["buying"] = df["buying"].str.replace("düsük", "low")
df["buying"] = df["buying"].str.replace("?", "vhigh")
df["buying"] = df["buying"].str.replace("-", "med")
df["buying"] = df["buying"].replace(np.nan, "low")
df["buying"].value_counts()

<ipython-input-9-ae431d6f3d3b>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["buying"] = df["buying"].str.replace("?", "vhigh")

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64

In [10]:
df["maint"].value_counts()

high     432
med      432
low      432
vhigh    429
?          3
Name: maint, dtype: int64

In [11]:
df["maint"] = df["maint"].str.replace("?", "vhigh")
df["maint"].value_counts()

<ipython-input-11-7f2e8bd464ad>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["maint"] = df["maint"].str.replace("?", "vhigh")

vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64

In [12]:
df["doors"].value_counts()

3        432
2        430
4        430
5more    430
?          2
-          1
44         1
iki        1
5+         1
Name: doors, dtype: int64

In [13]:
df["doors"] = df["doors"].str.replace("?", "2")
df["doors"] = df["doors"].str.replace("44", "4")
df["doors"] = df["doors"].str.replace("-", "4")
df["doors"] = df["doors"].str.replace("iki", "5more")
df["doors"] = df["doors"].replace("5+", "5more")
df["doors"].value_counts()

<ipython-input-13-077bf2c60577>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["doors"] = df["doors"].str.replace("?", "2")

2        432
3        432
4        432
5more    432
Name: doors, dtype: int64

In [14]:
df["persons"].value_counts()

4       576
more    576
2       574
?         2
Name: persons, dtype: int64

In [15]:
df["persons"] = df["persons"].str.replace("?", "2")
df["persons"].value_counts()

<ipython-input-15-391896bf4c5c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["persons"] = df["persons"].str.replace("?", "2")

2       576
4       576
more    576
Name: persons, dtype: int64

In [16]:
df["lug_boot"].value_counts()

small    576
big      576
med      575
?          1
Name: lug_boot, dtype: int64

In [17]:
df["lug_boot"] = df["lug_boot"].str.replace("?", "med")
df["lug_boot"].value_counts()

<ipython-input-17-05438998c74a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["lug_boot"] = df["lug_boot"].str.replace("?", "med")

small    576
med      576
big      576
Name: lug_boot, dtype: int64

In [18]:
df["safety"].value_counts()

high    576
med     574
low     573
-         2
?         1
*         1
Name: safety, dtype: int64

In [19]:
df["safety"] = df["safety"].replace(np.nan, "low")
df["safety"] = df["safety"].str.replace("?", "low")
df["safety"] = df["safety"].str.replace("*", "low")
df["safety"] = df["safety"].str.replace("-", "med")
df["safety"].value_counts()

<ipython-input-19-991aa0388454>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["safety"] = df["safety"].str.replace("?", "low")
<ipython-input-19-991aa0388454>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["safety"] = df["safety"].str.replace("*", "low")

low     576
med     576
high    576
Name: safety, dtype: int64

In [20]:
df["class"].value_counts()

unacc    1209
acc       384
good       69
vgood      65
?           1
Name: class, dtype: int64

In [21]:
df["class"] = df["class"].str.replace("?", "good")
df["class"].value_counts()

<ipython-input-21-52b1ab9d4689>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["class"] = df["class"].str.replace("?", "good")

unacc    1209
acc       384
good       70
vgood      65
Name: class, dtype: int64

Nan değerler düzeltildikten sonra infomuza tekrar bakalım

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [24]:
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    low  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

### ENCODING yaparak sayısal değerlere dönüştürüyoruz.

In [25]:
df["class"] = df["class"].replace(["unacc", "acc", "good", "vgood"], [0, 1, 2, 3])

In [26]:
df["safety"] = df["safety"].replace(["low", "med", "high"], [0, 1, 2])

In [27]:
df["lug_boot"] = df["lug_boot"].replace(["small", "med", "big"], [0, 1, 2])

In [28]:
df["persons"] = df["persons"].replace(["2", "4", "more"], [2, 4, 7])

In [29]:
df["doors"] = df["doors"].replace(["2", "3", "4", "5more"], [2, 3, 4, 5])

In [30]:
df["maint"] = df["maint"].replace(["vhigh", "high", "med", "low"], [0, 1, 2, 3])

In [31]:
df["buying"] = df["buying"].replace(["vhigh", "high", "med", "low"], [0, 1, 2, 3])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int64
 1   maint     1728 non-null   int64
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   int64
 5   safety    1728 non-null   int64
 6   class     1728 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB

In [32]:
df

      buying  maint  doors  persons  lug_boot  safety  class
0          0      0      2        2         0       0      0
1          0      0      2        2         0       1      0
2          0      0      2        2         0       2      0
3          0      0      2        2         1       0      0
4          0      0      2        2         1       0      0
...      ...    ...    ...      ...       ...     ...    ...
1723       3      3      5        7         1       1      2
1724       3      3      5        7         1       2      3
1725       3      3      5        7         2       0      0
1726       3      3      5        7         2       1      2
1727       3      3      5        7         2       2      3

[1728 rows x 7 columns]

Modelimizi oluşturalım..

In [34]:
#Gerekli kütüphaneleri yüklüyoruz Adım adım olsun diye buraya ekledim en başa da yüklenebilirdi.

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier


from sklearn.metrics import classification_report

In [35]:
X = df.drop("class", axis= 1)
y = df["class"]

In [36]:
# TRAIN - TEST -SPLIT

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 1)

In [37]:
# KNN MODEL

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

knn_model = KNeighborsClassifier(n_neighbors= 3)
knn_model.fit(X_train, y_train)
y_knn_pred= knn_model.predict(X_test)
accuracy_score(y_test, y_knn_pred)

0.9161849710982659

In [38]:
print(classification_report(y_test, y_knn_pred))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96       260
           1       0.77      0.85      0.81        59
           2       0.78      0.50      0.61        14
           3       1.00      0.54      0.70        13

    accuracy                           0.92       346
   macro avg       0.88      0.71      0.77       346
weighted avg       0.92      0.92      0.91       346

In [39]:
# SVC MODEL

svc_model = SVC(kernel= "rbf", C= 10)
svc_model.fit(X_train, y_train)
y_svc_pred = svc_model.predict(X_test)
accuracy_score(y_test, y_svc_pred)

0.9595375722543352

In [40]:
print(classification_report(y_test, y_svc_pred))

              precision    recall  f1-score   support

           0       0.99      0.97      0.98       260
           1       0.86      0.92      0.89        59
           2       0.87      0.93      0.90        14
           3       1.00      1.00      1.00        13

    accuracy                           0.96       346
   macro avg       0.93      0.95      0.94       346
weighted avg       0.96      0.96      0.96       346

In [41]:
# DECISION TREE MODEL

dt_model = DecisionTreeClassifier(criterion= "entropy",
                                  splitter= "best",
                                  max_depth= 7,
                                  min_samples_split= 3,
                                  max_features= 5,
                                  random_state= 1)

dt_model.fit(X_train, y_train)
y_dt_pred = dt_model.predict(X_test)
accuracy_score(y_test, y_dt_pred)

0.8959537572254336

In [42]:
print(classification_report(y_test, y_dt_pred))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95       260
           1       0.70      0.73      0.72        59
           2       0.75      0.43      0.55        14
           3       0.76      1.00      0.87        13

    accuracy                           0.90       346
   macro avg       0.79      0.78      0.77       346
weighted avg       0.90      0.90      0.89       346

In [43]:
# RANDOM FOREST MODEL

rf_model = RandomForestClassifier(n_estimators= 200,
                                  criterion = "gini",
                                  min_samples_split= 5,
                                  max_features= "sqrt",
                                  bootstrap= True,
                                  max_samples= 0.6)

rf_model.fit(X_train, y_train)
y_rf_pred = rf_model.predict(X_test)
accuracy_score(y_test, y_rf_pred)

0.9508670520231214

In [44]:
# XGB MODEL

xgb_model = XGBClassifier()
xgb_model.fit(X_train, y_train)
y_xgb_pred = xgb_model.predict(X_test)
accuracy_score(y_test, y_xgb_pred)

0.9855491329479769

In [45]:
# LGBM MODEL

lgb_model = LGBMClassifier()
lgb_model.fit(X_train, y_train)
y_lgb_pred = lgb_model.predict(X_test)
accuracy_score(y_test, y_lgb_pred)

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000245 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 23
[LightGBM] [Info] Number of data points in the train set: 1382, number of used features: 6
[LightGBM] [Info] Start training from score -0.375878
[LightGBM] [Info] Start training from score -1.447462
[LightGBM] [Info] Start training from score -3.205935
[LightGBM] [Info] Start training from score -3.280043
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

0.9884393063583815

modelimiz %98 oranda başırılı duruyor. KEYİFLİ OKUMALAR:)